<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" href="css/style.css">
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js" defer></script> 
    <script src="script/script.js" defer></script>
</head>
<body>
    <div class="green-bar"></div>
    <div class="grigia-bar"></div>
    <div class="main-section" id="app">
        <div class="area-left">
            <div class="user-section">
                <div class="user-info">
                    <img src="img/avatar_io.jpg">
                    <h4>Sofia</h4>
                </div>
                <div class="user-icons">
                    <i class="fa-solid fa-circle-notch"></i>
                    <i class="fa-solid fa-message"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>
            <div class="notifiche-section">
                <div class="bell">
                    <i class="fa-solid fa-bell-slash"></i>
                </div>
                <div class="notifiche-text">
                    <h4>Ricevi notifiche di nuovi messaggi</h4>
                    <a href="">Attiva notifiche dekstop</a>
                </div>
            </div>
            <div class="search-section">
                <button class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
                <input type="text" class="search-bar">
            </div>
            <div class="chatlist-section">
                <div v-for="(contact, i) in contacts" class="chatlist-contact" :class="{visible: contact.visible}" @click="selectedChat(i)">
                    <img :src="'img/avatar' + contact.avatar + '.jpg'" class="contact-picture">
                    <div class="contact-info">
                        <h4 class="contact-name">{{ contact.name }}</h4>
                        <div class="contact-last-message">{{ contact.messages[contact.messages.length - 1].message }}</div>
                    </div>
                    <span class="last-message-time">12:00</span>
                </div>
            </div>
        </div>
        <div class="area-right">
            <div class="receiver-section">
                <div class="receiver-info">
                    <img :src="'img/avatar' + [miaChat] + '.jpg' ">
                    <div class="receiver-info-text">
                        <h4>{{ contacts[miaChat].name }}</h4>
                        <span>Ultimo accesso alle ore 12:00</span>
                    </div>
                </div>
                <div class="user-icons">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-paperclip"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>
            <div class="chat-section">

                <div v-for="msg in contacts[miaChat].messages" class="generic-message">
                    <div :class="{sentmessage: msg.status === 'sent', receivedmessage: msg.status === 'received'}">
                        <span class="message-text">{{ msg.message }}</span>
                        <span class="message-time">12:00</span>
                    </div>
                </div>
            </div>
            <div class="sending-section">
                <i class="fa-regular fa-face-smile"></i>
                <input type="text" class="sending-input" placeholder="Scrivi un messaggio" v-model="newMsg" @keyup.enter="sendMsg">
                <i class="fa-solid fa-microphone"></i>          
            </div>
        </div>
    </div>
</body>